---
import { Image } from 'astro:assets'

import Layout from '../../layouts/Layout.astro'
import ProjectLayout from '../../layouts/ProjectLayout.vue'
import TechnologyButton from '../../components/TechnologyButton.vue'

import medusa from '../../assets/medusa.png'

import medusaImage0 from '../../assets/medusawallet/medusa0.png'

import ts from '../../assets/ts.png'
import expo from '../../assets/expo.png'
import react from '../../assets/react.png'
import github from '../../assets/github.png'
import vsc from '../../assets/vsc.png'
import figma from '../../assets/figma.png'
---

<Layout title="Medusa Wallet | Carlos Marques" page="none">
  <ProjectLayout
    client:load
    title="Medusa Wallet"
    website="https://medusa.bz/"
    description="Free and open source bitcoin lightning wallet where you also can buy KYC free."
    intro="Users can buy KYC free sats and send them anywhere, instantly, using the Lightning Network."
  >
    <Image src={medusa} alt="Medusa Wallet" class="w-[48px] h-[48px]" />
    <Image
      src={medusaImage0}
      alt="Medusa Wallet Image 1"
      class="w-full rounded-md"
      slot="image1"
    />
    <div
      class="grid-cols-4 sm:grid-cols-5 grid md:grid-cols-6 gap-2"
      slot="technologies"
    >
      <TechnologyButton to="https://www.typescriptlang.org/">
        <Image src={ts} alt="Typescript" title="Typescript" />
      </TechnologyButton>
      <TechnologyButton to="https://expo.dev/">
        <Image src={expo} alt="Expo" title="Expo" />
      </TechnologyButton>
      <TechnologyButton to="https://reactnative.dev/">
        <Image src={react} alt="React Native" title="React Native" />
      </TechnologyButton>
      <TechnologyButton to="https://github.com/">
        <Image src={github} alt="Github" title="Github" />
      </TechnologyButton>
      <TechnologyButton to="https://code.visualstudio.com/">
        <Image src={vsc} alt="Visual Studio Code" title="Visual Studio Code" />
      </TechnologyButton>
      <TechnologyButton to="https://www.figma.com/">
        <Image src={figma} alt="Figma" title="Figma" />
      </TechnologyButton>
    </div>
  </ProjectLayout>
</Layout>
