---
import { Image } from 'astro:assets'

import Layout from '../../layouts/Layout.astro'
import ProjectLayout from '../../layouts/ProjectLayout.vue'
import TechnologyButton from '../../components/TechnologyButton.vue'

import psybitcoin from '../../assets/psybitcoin.png'

import psybitcoinImage1 from '../../assets/psybitcoin/psybitcoin1.png'
import psybitcoinImage2 from '../../assets/psybitcoin/psybitcoin2.png'
import psybitcoinImage3 from '../../assets/psybitcoin/psybitcoin3.png'

import ts from '../../assets/ts.png'
import node from '../../assets/node.png'
import vue from '../../assets/vue.png'
import tailwind from '../../assets/tailwind.png'
import firebase from '../../assets/firebase.png'
import gcp from '../../assets/gcp.png'
import jest from '../../assets/jest.png'
import vitest from '../../assets/vitest.png'
import playwright from '../../assets/playwright.png'
import github from '../../assets/github.png'
import turborepo from '../../assets/turborepo.png'
import vsc from '../../assets/vsc.png'
import jira from '../../assets/jira.png'
import notion from '../../assets/notion.png'
import adobe from '../../assets/adobe.png'
---

<Layout title="Psybitcoin | Carlos Marques" page="none">
  <ProjectLayout
    client:load
    title="Psybitcoin"
    website="https://psybitcoin.com"
    description="An educational platform that teaches student about bitcoin and other exciting topics. Bitcoin brings peace, love, hope and freedom to humanity and everyone should know about it."
    intro="As a bitcoiner, I feel the need to spread the message of Satoshi Nakamoto by teaching people about Bitcoin. Psybitcoin provides video lessons to people who want to learn about the best money on planet earth."
    problem="The amount of people in Portugal who are financially illiterate is staggering. In addition to that, there are no good courses teaching about bitcoin. Educate people on what hard money really means to society will make Portugal a better country."
    solution="We created a beautiful but simple to understand place where people can watch their video lessons and well as interact with the community, read articles, earn achievements and much more. The website was built carefully in order to bring trust and excitement to those who use it."
  >
    <Image
      src={psybitcoin}
      alt="Psybitcon"
      class="w-[48px] h-[48px]"
      transition:name="psybitcoin"
    />
    <Image
      src={psybitcoinImage1}
      alt="Psybitcoin Website"
      class="w-full rounded-md"
      slot="image1"
    />
    <Image
      src={psybitcoinImage2}
      alt="Psybitcoin Website"
      class="w-full rounded-md"
      slot="image2"
    />
    <Image
      src={psybitcoinImage3}
      alt="Psybitcoin Website"
      class="w-full rounded-md"
      slot="image3"
    />
    <div
      class="grid-cols-4 sm:grid-cols-5 grid md:grid-cols-6 gap-2"
      slot="technologies"
    >
      <TechnologyButton to="https://www.typescriptlang.org/">
        <Image src={ts} alt="Typescript" title="Typescript" />
      </TechnologyButton>
      <TechnologyButton to="https://nodejs.org/en">
        <Image src={node} alt="Node.js" title="Node.js" />
      </TechnologyButton>
      <TechnologyButton to="https://vuejs.org/">
        <Image src={vue} alt="Vue" title="Vue" />
      </TechnologyButton>
      <TechnologyButton to="https://tailwindcss.com/">
        <Image src={tailwind} alt="Tailwind" title="Tailwind" />
      </TechnologyButton>
      <TechnologyButton to="https://firebase.google.com/">
        <Image src={firebase} alt="Firebase" title="Firebase" />
      </TechnologyButton>
      <TechnologyButton to="https://cloud.google.com/">
        <Image src={gcp} alt="Google Cloud" title="Google Cloud" />
      </TechnologyButton>
      <TechnologyButton to="https://jestjs.io/">
        <Image src={jest} alt="Jest" title="Jest" />
      </TechnologyButton>
      <TechnologyButton to="https://vitest.dev/">
        <Image src={vitest} alt="Vitest" title="Vitest" />
      </TechnologyButton>
      <TechnologyButton to="https://playwright.dev/">
        <Image src={playwright} alt="Playwright" title="Playwright" />
      </TechnologyButton>
      <TechnologyButton to="https://github.com/">
        <Image src={github} alt="Github" title="Github" />
      </TechnologyButton>
      <TechnologyButton to="https://turbo.build/repo">
        <Image src={turborepo} alt="Turborepo" title="Turborepo" />
      </TechnologyButton>
      <TechnologyButton to="https://code.visualstudio.com/">
        <Image src={vsc} alt="Visual Studio Code" title="Visual Studio Code" />
      </TechnologyButton>
      <TechnologyButton to="https://www.atlassian.com/software/jira">
        <Image src={jira} alt="Jira" title="Jira" />
      </TechnologyButton>
      <TechnologyButton to="https://www.notion.so/">
        <Image src={notion} alt="Notion" title="Notion" />
      </TechnologyButton>
      <TechnologyButton to="https://www.adobe.com/">
        <Image src={adobe} alt="Adobe" title="Adobe" />
      </TechnologyButton>
    </div>
  </ProjectLayout>
</Layout>
