---
import Layout from '../../layouts/Layout.astro'
import ProjectLayout from '../../layouts/ProjectLayout.vue'
import TechnologyButton from '../../components/TechnologyButton.vue'

import satsigner from '../../assets/satsigner.png'

import satsignerImage1 from '../../assets/satsigner/satsigner1.png'
import satsignerImage2 from '../../assets/satsigner/satsigner2.png'

import ts from '../../assets/ts.png'
import expo from '../../assets/expo.png'
import react from '../../assets/react.png'
import jest from '../../assets/jest.png'
import github from '../../assets/github.png'
import turborepo from '../../assets/turborepo.png'
import vsc from '../../assets/vsc.png'
import figma from '../../assets/figma.png'
import notion from '../../assets/notion.png'
---

<Layout title="Psybitcoin | Carlos Marques" page="none">
  <ProjectLayout
    client:load
    title="SatSigner"
    website="https://satsigner.com/"
    description="A bitcoin first mobile application concept."
    intro="A pouch for your sats."
    problem="Bitcoin mobile wallets are very simple and lack data visualization."
    solution="Create a bitcoin mobile wallet with a lot of data visualization. We want to make it easy for beginners as well as amazing for experienced users."
  >
    <img src={satsigner.src} alt="SatSigner" class="w-[48px] h-[48px]" />
    <img
      src={satsignerImage1.src}
      alt="SatSigner Splash"
      class="w-full rounded-md"
      slot="image1"
    />
    <img
      src={satsignerImage2.src}
      alt="SatSigner UI"
      class="w-full rounded-md"
      slot="image2"
    />
    <div
      class="grid-cols-4 sm:grid-cols-5 grid md:grid-cols-6 gap-2"
      slot="technologies"
    >
      <TechnologyButton to="https://www.typescriptlang.org/">
        <img src={ts.src} alt="Typescript" title="Typescript" />
      </TechnologyButton>
      <TechnologyButton to="https://expo.dev/">
        <img src={expo.src} alt="Expo" title="Expo" />
      </TechnologyButton>
      <TechnologyButton to="https://react.dev/">
        <img src={react.src} alt="React" title="React" />
      </TechnologyButton>
      <TechnologyButton to="https://jestjs.io/">
        <img src={jest.src} alt="Jest" title="Jest" />
      </TechnologyButton>
      <TechnologyButton to="https://github.com/">
        <img src={github.src} alt="Github" title="Github" />
      </TechnologyButton>
      <TechnologyButton to="https://turbo.build/repo">
        <img src={turborepo.src} alt="Turborepo" title="Turborepo" />
      </TechnologyButton>
      <TechnologyButton to="https://code.visualstudio.com/">
        <img
          src={vsc.src}
          alt="Visual Studio Code"
          title="Visual Studio Code"
        />
      </TechnologyButton>
      <TechnologyButton to="https://www.figma.com/">
        <img src={figma.src} alt="Figma" title="Figma" />
      </TechnologyButton>
      <TechnologyButton to="https://www.notion.so/">
        <img src={notion.src} alt="Notion" title="Notion" />
      </TechnologyButton>
    </div>
  </ProjectLayout>
</Layout>
