---
import Layout from '../../layouts/Layout.astro'
import ProjectLayout from '../../layouts/ProjectLayout.vue'
import TechnologyButton from '../../components/TechnologyButton.vue'

import vivid from '../../assets/vivid.png'
import vividImage1 from '../../assets/vivid/vivid1.png'

import ts from '../../assets/ts.png'
import vue from '../../assets/vue.png'
import tailwind from '../../assets/tailwind.png'
import github from '../../assets/github.png'
import turborepo from '../../assets/turborepo.png'
import vsc from '../../assets/vsc.png'
---

<Layout title="Vivid | Carlos Marques" page="none">
  <ProjectLayout 
    client:load 
    title="Vivid" 
    website="https://github.com/Psycarlo/vivid"
    description="Vivid is an open-source dashboard components library built on top of Vue.js and Tailwind CSS. In the Vue.js ecosystem, while there are chart libraries available, they often lack aesthetic appeal. Vivid was created to address this gap by providing developers with beautiful, customizable dashboard components."
    intro="Vivid offers developers a seamless way to create stunning dashboards out of the box. It harnesses the power of Vue.js and Tailwind CSS to ensure not only functionality but also visual excellence. While Vivid provides pre-designed components for ease of use, it retains flexibility, allowing developers to customize the components to suit their specific needs."
    problem="Developers often encounter challenges when building visually appealing dashboards using existing Vue.js chart libraries. The lack of aesthetically pleasing options can impact the overall user experience and design quality of their applications."
    solution="Vivid solves this problem by offering a comprehensive library of visually striking dashboard components. By leveraging the power of Vue.js and Tailwind CSS, developers can effortlessly create aesthetically pleasing dashboards that meet both functional and design requirements. Vivid empowers developers to craft exceptional user interfaces and elevate the visual appeal of their applications."
  >
    <img src={vivid.src} alt="Vivid" class="w-[48px] h-[48px]" />
    <img src={vividImage1.src} alt="Yearly Logo" class="w-full rounded-md" slot="image1" />
    <div class="grid-cols-4 sm:grid-cols-5 grid md:grid-cols-6 gap-2" slot="technologies">
      <TechnologyButton to="https://www.typescriptlang.org/">
        <img src={ts.src} alt="Typescript" title="Typescript" />
      </TechnologyButton>
      <TechnologyButton to="https://vuejs.org/">
        <img src={vue.src} alt="Vue" title="Vue" />
      </TechnologyButton>
      <TechnologyButton to="https://tailwindcss.com/">
        <img src={tailwind.src} alt="Tailwind" title="Tailwind" />
      </TechnologyButton>
      <TechnologyButton to="https://github.com/">
        <img src={github.src} alt="Github" title="Github" />
      </TechnologyButton>
      <TechnologyButton to="https://turbo.build/repo">
        <img src={turborepo.src} alt="Turborepo" title="Turborepo" />
      </TechnologyButton>
      <TechnologyButton to="https://code.visualstudio.com/">
        <img
          src={vsc.src}
          alt="Visual Studio Code"
          title="Visual Studio Code"
        />
    </div>
  </ProjectLayout>
</Layout>
