---
import { Image } from 'astro:assets'

import Layout from '../../layouts/Layout.astro'
import ProjectLayout from '../../layouts/ProjectLayout.vue'
import TechnologyButton from '../../components/TechnologyButton.vue'

import yearly from '../../assets/yearly.png'

import yearlyImage1 from '../../assets/yearly/yearly1.png'
import yearlyImage2 from '../../assets/yearly/yearly2.png'

import notion from '../../assets/notion.png'
import adobe from '../../assets/adobe.png'
import shopify from '../../assets/shopify.png'
---

<Layout title="Yearly | Carlos Marques" page="none">
  <ProjectLayout
    client:load
    title="Yearly"
    website="https://shopyearly.com"
    description="Introducing Yearly, a customizable system designed to revolutionize the way individuals track, organize, and plan their daily lives and habits. Yearly offers a dynamic approach to reflective and productive living in the digital age, centered around a versatile A5 binder that combines rapid logging, monthly, and daily logs."
    intro="Yearly recognizes that forming daily habits and self-tracking are vital for personal development and well-being. This system simplifies habit-building, stress reduction, and goal achievement. With its bullet journal format, Yearly empowers users to create routines that lead to improved productivity, efficiency, and reliability in both personal and professional endeavors."
    problem="Establishing and maintaining daily habits can be challenging in a fast-paced digital world. Many individuals struggle with consistency in self-tracking and habit formation. This inconsistency can hinder personal growth and prevent the achievement of goals."
    solution="Yearly offers a practical solution to these challenges. By combining the flexibility of a bullet journal with innovative features, Yearly promotes daily habit formation and self-tracking. Users can organize their lives, set achievable goals, and enhance productivity, ultimately leading to a more fulfilling and balanced lifestyle."
  >
    <Image src={yearly} alt="Yearly" class="w-[48px] h-[48px]" />
    <Image
      src={yearlyImage1}
      alt="Yearly Logo"
      class="w-full rounded-md"
      slot="image1"
    />
    <Image
      src={yearlyImage2}
      alt="Yearly Binder"
      class="w-full rounded-md"
      slot="image2"
    />
    <div
      class="grid-cols-4 sm:grid-cols-5 grid md:grid-cols-6 gap-2"
      slot="technologies"
    >
      <TechnologyButton to="https://www.notion.so/">
        <Image src={notion} alt="Notion" title="Notion" />
      </TechnologyButton>
      <TechnologyButton to="https://www.adobe.com/">
        <Image src={adobe} alt="Adobe" title="Adobe" />
      </TechnologyButton>
      <TechnologyButton to="https://shopify.dev/">
        <Image src={shopify} alt="Shopify" title="Shopify" />
      </TechnologyButton>
    </div>
  </ProjectLayout>
</Layout>
